section.search-cont
	.wrapper
		.search
			.search-item
				form(action="")
					.search-item__el
						.search-form
							input(id="1" type="text" value="" required="" autocomplete="off" placeholder="Введите название").search-form__input
							input(type="submit"  value="Поиск").search-form__btn
							.btn-clear