doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		title ЭКГ Сервис - Тповая страница
		include inc/head.pug
		include inc/css.pug
		// favicon
		link(rel='apple-touch-icon', sizes='180x180', href='apple-touch-icon.png')
		link(rel='icon', type='image/png', sizes='32x32', href='favicon-32x32.png')
		link(rel='icon', type='image/png', sizes='16x16', href='favicon-16x16.png')
		link(rel='manifest', href='site.webmanifest')
		link(rel='mask-icon', href='safari-pinned-tab.svg', color='#25272b')
		meta(name='msapplication-TileColor', content='#25272b')
		meta(name='theme-color', content='#25272b')
		//- // styles
		//- link(rel='stylesheet', href='css/slick.css')
		//- link(rel='stylesheet', href='css/slinky.min.css')
		//- link(rel='stylesheet', href='css/jquery.fancybox.min.css')
		//- link(rel='stylesheet', href='css/style.css')
		//- // scripts
		//- script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
		//- script(src='js/slick.min.js')
		//- script(src='js/slinky.min.js')
		//- script(src='js/jquery.fancybox.min.js')
		//- script(src='js/main.js')
	body.inner
		// header
		header
			.container
				.col-left
					.logo
						a(href='index.html')
							img(src='img/logo.svg', alt='ЭКГ Сервис')
				.col-right
					.header-toggle
						nav
							ul.main-menu.nav
								li.active
									a(href='catalog.html') Каталог
								li
									a(href='special-offers.html') Спецпредложения
								li.submenu-toggle
									a(href='about.html') О компании
									.page-section.submenu-wrap
										.container
											ul.submenu.nav
												li.active
													a(href='about.html') О компании
												li
													a(href='#') Нас рекомендуют
												li
													a(href='#') Сертификаты и дипломы
												li
													a(href='geography.html') География поставок
												li
													a(href='#') Судебная практика
												li
													a(href='#') Обработка персональных данных
								li
									a(href='contacts.html') Контакты
						.header-contacts
							a.phone(href='tel:+73512466060') +7 (351) 246-60-60
					.header-btn
						.search-btn
						.lang-toggle
							a.dropdown-toggle(href='#') ru
							ul.dropdown-menu
								li
									a(href='#') en
								li
									a(href='#') es
		// top-block
		.page-section.top-block
			.container
				.breadcrumb
					.inline
						a(href='index.html')
							span Главная
					span.delimiter -
					.inline
						span Типовая страница
				h1.block-title
					| Типовая страница
		// main
		.main.dark
			.page-section.text-page
				.container
					.page-slider.slider-wrap
						.controls
						.slider-items
							.slider-item.page-slider-item
								img(src='img/img3.jpg', alt='')
							.slider-item.page-slider-item
								img(data-lazy='img/img3.jpg', alt='')
							.slider-item.page-slider-item
								img(data-lazy='img/img3.jpg', alt='')
					.text-page-content
						p(align='right')
							img(src='img/text-page-img.jpg')
							span Рис 1. Новое поступление
						h2 h2. В Челябинске открылись два новых фирменных магазина
						p
							| Лид — это первый абзац статьи, информативный отрывок позволяющий захватить внимание читателя на данном материале. Необязательный элемент. Эта страница создана для демонстрации блоков и элементов, которые используются на сайте, и служит руководством для всех, кто работает над ним. Дизайнеры и технологи отрабатывают здесь стили, чтобы добиться приемлемых результатов в различных сочетаниях блоков и элементов. Контент-менеджеры и редакторы используют страницу в качестве справочника по верстке типовых страниц. Здесь же рассказывается о некоторых общих правилах оформления контента.
						h3 H3. Дополнительная колонка может быть снабжена заголовками
						p
							| Многострочный заголовок, длина которого иногда бывает так некстати Типовые элементы оформляются в системе администрирования через визуальный редактор «Реформатор». Чтобы контент-менеджеру было легче в них ориентироваться, их количество лучше свести к необходимому минимуму.
						h4 H4. Дополнительная колонка может быть снабжена заголовкам
						p
							| Имманентный подход подразумевает отношение к тексту как к автономной реальности, нацеленность на выявление его внутренней структуры. Репрезентативный — рассмотрение текста как особой формы представления знаний о внешней тексту действительности.
						h5
							| H5. В первую очередь нас интересуют интерлиньяж и отступы, но не стоит забывать и про сам заголовок
						p
							| Текст состоит из некоторого количества предложений. Одно предложение, даже очень распространённое, сложное, текстом назвать нельзя, поскольку текст можно расчленить на самостоятельные предложения, а части предложения сочетаются по законам синтаксиса сложного предложения, но не текста.
						h3 Списки
						span Кроме того, существуют правила оформления списков: 
						ul
							li
								| Если пункты списка длинные и представляют собой развернутые предложения, они должны начинаться с прописной буквы и заканчиваться точкой.
								ul
									li
										| Если пункты списка короткие, не являются самостоятельной законченной конструкцией и грамматически тесно связаны с предшествующей списку вводной фразой, они должны начинаться со строчной буквы и заканчиваться точкой с запятой (в конце последнего пункта — точка).
									li
										| Если пункты списка длинные и представляют собой развернутые предложения, они должны начинаться с прописной буквы и заканчиваться точкой.
							li
								| Если пункты списка короткие, не являются самостоятельной законченной конструкцией и грамматически тесно связаны с предшествующей списку вводной фразой, они должны начинаться со строчной буквы и заканчиваться точкой с запятой (в конце последнего пункта — точка).
						ol
							li
								| Если пункты списка длинные и представляют собой развернутые предложения, они должны начинаться с прописной буквы и заканчиваться точкой.
							li
								| Если пункты списка короткие, не являются самостоятельной законченной конструкцией и грамматически тесно связаны с предшествующей списку вводной фразой, они должны начинаться со строчной буквы и заканчиваться точкой с запятой (в конце последнего пункта — точка).
						h3 Ссылки
						p
							| На сайте может встречаться несколько видов ссылок. Например, ссылка на 
							a(href='https://yandex.ru/', target='_blank') Яндекс
							|  является внешней. Внутренние ссылки могут открываться по умолчанию в текущем окне (например, переход на 
							a(href='index.html') главную страницу
							| ) или в 
							a(href='img/img3.jpg', target='_blank') новом окне
							|  (например, для показа изображений в оригинальном размере).
						.table-wrap
							table
								thead
									tr
										td Параметры
										td ЭКГ-5А
										td ЭКГ-5В
										td ЭКГ-5В
										td ЭКГ-5Д
										td ЭКГ-5А-УС
								tbody
									tr
										td Вместимость ковша, м2 
										td 5,2
										td 5,2
										td 5,2
										td 5,2
										td 5,2
									tr
										td Радиус черпания наибольший, м 
										td 14.5
										td 14.5
										td 14.5
										td 14.5
										td 14.5
									tr
										td Среднее удельное давление на грунт при передвижении, кПа 
										td 2,1/1,72/1,3
										td 2,1/1,72/1,3
										td 2,1/1,72/1,3
										td 2,1/1,72/1,3
										td 2,1/1,72/1,3
									tr
										td Высота черпания наибольшая, м
										td 205/162/127
										td 205/162/127
										td 205/162/127
										td 205/162/127
										td 205/162/127
		// footer
		footer.page-section.footer
			.container
				.col-left
					span.copyright
						| © 2003 - 2019 АО
						br
						|         «ЭКГСервисХолдинг»
					br
					|         Все права защищены.
				.col-right
					span.iso ISO 9001:2000
					br
					|          ЭКГ Сервис владеет европейским сертификатом соответствия
	include inc/scripts.pug